<div class="application">
  <GameArea
    @gameType={{this.gameType}}
    @playerOne={{this.playerOne}}
    @playerTwo={{this.playerTwo}}
    @lastWonRound={{this.lastWonRound}}
    @playerOneScore={{this.playerOneScore}}
    @playerTwoScore={{this.playerTwoScore}}
    @startGame={{this.startGame}}
  />
</div>
